@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--font-poppins);
}
.roboto {
  font-family: var(--font-roboto);
}
.crimson {
  font-family: var(--font-crimson);
}
.gravitas {
  font-family: var(--font-gravitas);
}